* {
  margin: 0;
  padding: 0;
}

html,
body,
#application {
  height: 100%;
  /* overflow: hidden; */
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.diagram-container {
  background: #eee;
  width: 100%;
  height: 100%;
}
